<div class="main-container">
<div class="your-message">
  <p>Your message:</p>
  <p><%=@message%></p>
</div>
<div class="coach-answer">
  <p>Coach's answer</p>
  <p><%=@answer%></p>
</div>
<div class="link">
<%= link_to "Ask a new question", ask_path %>
</div>
</div>
